$base-color: rgb(57, 57, 203);

nav {
    background-color: $base-color;
}

.coloicon {
    width: 50px;
    height: min-content;
    margin-left: 2em;
    margin-right: 0.5em;
}

.title {
    color: aliceblue;
}