<nav class="navbar navbar-expand navbar-dark">
  <a href="#" class="logo-a">
    <img class="coloicon" src="../assets/imgs/colocoloicon.png" alt="Logo">
  </a>
  <div>
    <h1 class="title">Empresa <strong>{{title}}</strong></h1>
  </div>
</nav>
<div class="card">
  <div class="card-body">
    <div class="row ps-4">
      <div class="col-md-2">Filtrar por:</div>
      <div class="col-md-4">
        <input type="text" />
      </div>
    </div>
    <app-product-list [products]="products"></app-product-list>
  </div>
</div>